* { /*reset css*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #e4e1d7;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #410202;
    padding: 20px;
}

.navbar h1 { /*pode ser que seja alterado*/
    color: #d6c897;
    font-size: 2em;
    font-style: italic;
}

.menu {
    display: flex;
    gap: 24px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none; 
    color: #d6c897;
    font-size: 1em;
    font-weight: bold;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: stretch;  /* Garante que ambos os lados tenham mesma altura */
    padding-top: 36px;
}


.img-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#about h2 {
    border-bottom: 2px solid #410202;
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-style: italic;
}

#products {
    margin: 4em 0;
}

#products h2 {
    font-style: italic;
    border-bottom: 2px solid #410202;
    padding-bottom: 12px;
    margin-bottom: 2em;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    align-items: stretch;
}

.products-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px;
}

.products-item img {
    width: 100%;
    height: 180px;
    margin-bottom: 24px;
    border-radius: 4px;
}

.products-item p {
    margin-top: 1em;
    margin-bottom: 2em;
}

.products-item button {
    background-color: #410202;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: auto;
}

.products-item button:hover {
    background-color: #6b0c0c;
}

.products-item h3 {
    text-align: center;
}


footer {
    background-color: #410202;
    padding: 2em;
    text-align: center;
}

footer p {
    color: #d6c897;
}

/*Responsividade - Celular*/
@media screen and (max-width: 640px) {
    .container {
        max-width: 90%;
    }

    .navbar {
        flex-direction: column;
        gap: 1em;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    .products-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .products-item {
        width: 90%;
    }
    
}

/*Responsividade - Tablet*/
@media screen and (min-width: 641px) and (max-width: 1023px) {
    #about {
        padding-left: 2em;
        padding-right: 2em;
    }

    #products {
        padding-left: 2em;
        padding-right: 2em;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-item {
        width: 90%;
    }

    .products-item h3 {
        min-height: 48px;
    }
}